.menu-container{
    flex: 1 1;
    padding-top: 2.5rem;
}

.ui.tabular.menu .item {
    color: #E3E2DF !important;
}

.ui.vertical.tabular.menu {
    border-right: 1px solid #4E4E50 !important;
}

.ui.vertical.tabular.menu .active.item {
    background: #5F021F !important;
    border-color: transparent !important;
}