.menu-container{
    flex: 1 1;
    padding-top: 2.5rem;
}

.ui.tabular.menu .item {
    color: #E3E2DF !important;
    font-family: var(--main-font);
}

.ui.vertical.tabular.menu {
    border-right: 1px solid #4E4E50 !important;
}

.ui.vertical.tabular.menu .active.item {
    background: var(--select-color) !important;
    border-color: transparent !important;
    border-right: 2px solid #C59D5F !important;
}