.ui.card {
    margin: 3em 1em 1em 1em !important;
    min-width: 310px;
    width: auto !important;
    max-width: 310px !important;
    flex: 1 1 !important;
}

.ui.card:hover{
    transform: scale(1.1) !important;
}

.ui.card>.content>.header:not(.ui),
.ui.card .meta{
    font-family: var(--main-font);
}

.ui.card .meta{
    color: var(--font-color) !important;
    font-size: 13px !important;
    padding: 5px 0 0 5px;
}

.ui.card>.content>.description{
    padding-top: 5px;
    text-align: center;
    font-family: var(--poem-font);
    font-size: 17px;
}

.ui.card>.extra span{
    color: var(--extra-color);
}

@media (max-width: 1200px){
    .ui.card{
        min-width: 270px  !important;
    }
}

@media (max-width: 1050px){
    .ui.card{
        min-width: 250px  !important;
    }
}


@media (max-width: 790px){
    .ui.card{
        min-width: 150px  !important;
    }
}

@media only screen and (max-width: 730px) {
    .ui.card>.content>.header{
        font-size: 17px !important;
    }

    .ui.card>.content>.meta{
        font-size: 12px !important;
    }

    .ui.card>.content>.description{
        font-size: 15px;
    }
}
