.ui.card {
    margin: 3em 1em 1em 1em !important;
    min-width: 310px;
    width: auto !important;
    max-width: 310px !important;
    flex: 1 1 !important;
}
.ui.card>.content>.header:not(.ui),
.ui.card .meta{
    /* font-family: var(--title-font); */
}

.ui.card .meta{
    color: var(--font-color) !important;
}

.ui.card>.content>.description{
    padding-top: 5px;
    text-align: center;
    /* font-family: var(--main-font); */
    font-size: 17px;
}

.ui.card>.extra button:first-child{
    background: var(--extra-color) !important;
    color: #fff;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1200px){
    .ui.card{
        min-width: 270px  !important;
        /* max-width: 300px  !important; */
    }
}

@media (max-width: 1050px){
    .ui.card{
        min-width: 250px  !important;
        /* max-width: 270px  !important; */
    }
}


@media (max-width: 790px){
    .ui.card{
        min-width: 150px  !important;
        /* max-width: 270px  !important; */
    }
}








/* .ui.card {
    margin: 3em 1em 1em 1em !important;
    min-width: 200px;
    width: auto !important;
    max-width: 310px !important;
    flex: 1 1 !important;
} */


/* @media (max-width: 1100px){
    .ui.card{
        flex: 1 0 !important;
    }
} */